@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	font-family: 'Silkscreen', sans-serif;
	cursor: pointer;
}

/* Interface */
.interface {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	font-weight: 700;
	font-style: normal;
}

/* Time */
.time {
	position: absolute;
	top: 8%;
	left: 0;
	width: 100%;
	color: #ffffff;
	font-size: 7vh;
	background: #00000033;
	text-align: center;
}

/* Restart */
.restart {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	color: #ffffff;
	font-size: 80px;
	background: #00000033;
	pointer-events: auto;
}

.restart:hover {
	color: #28ba4a;
}

/**
 * Controls
 */
.controls {
	position: absolute;
	bottom: 8%;
	left: 0;
	width: 100%;
}

.controls .raw {
	display: flex;
	justify-content: center;
}

.controls .key {
	width: 40px;
	height: 40px;
	margin: 5px;
	border: 2px solid #ffffff;
	background: #ffffff44;
}

.controls .key.large {
	width: 160px;
}

.controls .key.medium {
	width: 30px;
	text-align: center;
	color: #ffffff;
	font-size: 10px;
	height: 0;
	padding: 20px;
}

.controls .key.active {
	background: #ffffff99;
	border: 2px solid #2cc944;
}

.loaderBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.loader {
	border-radius: 10px;
	height: 75px;
	width: 75px;
	float: center;
	animation-delay: 0.9s;
	animation-duration: 0.8s;
	animation-name: pump;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.26, -0.53, 0.57, 2.32);
}

.loader:before {
	content: '';
	position: absolute;
	background: #ea4c89;
	height: 40px;
	width: 40px;
	z-index: 0;
	margin-top: 15px;
	margin-left: 15px;
	transform: rotate(45deg);
}

.loader .heart1 {
	content: '';
	position: absolute;
	background: #ea4c89;
	height: 40px;
	width: 40px;
	z-index: 1;
	border-radius: 50%;
}

.loader .heart2 {
	content: '';
	position: absolute;
	background: #ea4c89;
	height: 40px;
	width: 40px;
	z-index: 1;
	margin-left: 30px;
	border-radius: 50%;
}

@keyframes pump {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}
